.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Main-container {
  background-color: #1B242D;
}

.Order-view-component {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.Order-list-header {
  text-align: center;
  padding: 10px;
  background-color: #324054;
  color: white
}

.Order-list-container{
  background-color: #26343F;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Order-list-bg{
  background-color: #000000;
}

.Nav-container {
  background-color: #3E4245;
}

.Log-alert-container {
  background-color: #1F2935;
  text-align: center;
  color: white;
}

.Statistic-container{
  background-color: #2D3E4D;
  color: white;
}
